@page
@model SwoopMarketplaceProjectFrontend.Pages.Listings.IndexModel
@using SwoopMarketplaceProjectFrontend.Services
@inject AuthSession AuthSession

<h1>Listings</h1>



<table >
    <tr>
        @foreach (var n in Model.Listings)

        {

            <td>@n.Title</td>
            <td>@n.Price</td>
            <td>@n.CategoryId</td>
            <td>@n.Location</td>
            <td>@n.Description</td>
            @if (AuthSession.IsInRole("Admin"))
            {   
                <td><a asp-page="./Delete">Törlés(Ne nyomd meg,teszt!)</a></td>      
            }
            @if (AuthSession.IsInRole("User") || AuthSession.IsInRole("Admin"))
            {

                <td><a asp-page="./Details" asp-route-azon="@n.Id">Megtekintés</a></td>

            }
        }

    </tr>

   

</table>